html(xmlns='http://www.w3.org/1999/xhtml', lang='en', style='margin: 0; outline: none; padding: 0;')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Language', content='es-es')
    meta(name='robots', content='noindex')
    link(rel='shortcut icon', href='https://d3rxaij56vjege.cloudfront.net/media/favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='https://d226aj4ao1t61q.cloudfront.net/haao08fw5_ac_symbol_blue.png')
    title Payment Reject
  body#ac-designer.body(style='font-family: Arial; line-height: 1.1; margin: 0px; background-color: #ffffff; width: 100%; text-align: center;')
    center
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(http-equiv='Content-Language', content='es-es')
      meta(name='format-detection', content='telephone=no')
      meta(name='format-detection', content='date=no')
      meta(name='format-detection', content='address=no')
      meta(name='format-detection', content='email=no')
      title Vista Previa
      style(data-ac-keep='true').
        .ExternalClass {
        width: 100%;
        background: inherit;
        background-color: inherit;
        }
        .ExternalClass p,
        .ExternalClass ul,
        .ExternalClass ol {
        Margin: 0;
        }
        .undoreset div p,
        .undoreset p {
        margin-bottom: 20px;
        }
        div[class^="aolmail_divbody"] {
        overflow: auto;
        }
        [owa] #ac-footer {
        padding: 20px 0px!important;
        background: inherit;
        background-color: inherit;
        }
      style(data-ac-keep='true').
        @media only screen and (max-width: 600px) {
        .td_abandoned-cart img {
        display: block;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
        }
        body {
        padding: 0!important;
        font-size: 1em!important;
        }
        * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }
        *[class].divbody {
        -webkit-text-size-adjust: none !important;
        width: auto !important;
        }
        *[class].td_picture img {
        width: auto !important;
        }
        *[class].td_text {
        line-height: 110%;
        }
        *[class].td_button {
        width: auto;
        }
        /* Collapse all block elements */
        :not(.body) table {
        display: block!important;
        float: none!important;
        border-collapse: collapse !important;
        width: 100% !important;
        min-width: 100% !important;
        clear: both!important;
        }
        :not(.body) thead,
        :not(.body) tbody,
        :not(.body) tr {
        display: block!important;
        float: none!important;
        width: 100% !important;
        }
        :not(.body) th,
        :not(.body) td,
        :not(.body) p {
        display: block!important;
        float: none!important;
        width: 100% !important;
        clear: both!important;
        }
        /* Remove browser default styling for elements */
        ul,
        ol {
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
        }
        /* Set default height for spacer once collapse */
        *[class].spacer {
        height: auto!important;
        }
        a[href^=date] {
        color: inherit !important;
        text-decoration: none !important;
        }
        a[href^=telephone] {
        color: inherit !important;
        text-decoration: none !important;
        }
        a[href^=address] {
        color: inherit !important;
        text-decoration: none !important;
        }
        a[href^=email] {
        color: inherit !important;
        text-decoration: none !important;
        }
        /* Default table cell height */
        td[height="13"] {
        height: 13px!important;
        font-size: 13px!important;
        line-height: 13px!important;
        }
        td[height="9"] {
        height: 9px!important;
        font-size: 9px!important;
        line-height: 9px!important;
        }
        td[height="10"] {
        height: 10px!important;
        font-size: 10px!important;
        line-height: 10px!important;
        }
        /* Default social icons */
        *[class].ac-social-icon-16 {
        width: 16px !important;
        height: 16px !important;
        }
        *[class].ac-social-icon-24 {
        width: 24px !important;
        height: 24px !important;
        }
        *[class].ac-social-icon-28 {
        width: 28px !important;
        height: 28px !important;
        }
        *[class].__ac_social_icons {
        margin-right: 0px !important;
        }
        }
      style(data-ac-keep='true').
        @media only screen and (max-width: 320px) {
        #layout-row563 img {
        width: 100% !important;
        height: auto !important;
        max-width: 78px !important;
        }
        #layout-row566 img {
        width: 100% !important;
        height: auto !important;
        max-width: 180px !important;
        }
        #layout-row571 img {
        width: 100% !important;
        height: auto !important;
        max-width: 320px !important;
        }
        .td_rss .rss-item img.iphone_large_image {
        width: auto !important;
        }
        u + .body {
        display: table !important;
        width: 100vw !important;
        min-width: 100vw !important;
        }
        u + .body table {
        display: table !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body td {
        display: block !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body img {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        vertical-align: bottom !important;
        }
        u + .body center {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        min-width: 100% !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table,
        u + .body table._ac_social_table td,
        u + .body table._ac_social_table div,
        u + .body table._ac_social_table a {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        min-width: auto !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table img {
        display: inline-block !important;
        margin: auto !important;
        width: 32px !important;
        min-width: 32px !important;
        max-width: 32px !important;
        }
        }
        @media only screen and (max-width: 375px) {
        #layout-row563 img {
        width: 100% !important;
        height: auto !important;
        max-width: 78px !important;
        }
        #layout-row566 img {
        width: 100% !important;
        height: auto !important;
        max-width: 180px !important;
        }
        #layout-row571 img {
        width: 100% !important;
        height: auto !important;
        max-width: 375px !important;
        }
        .td_rss .rss-item img.iphone_large_image {
        width: auto !important;
        }
        u + .body {
        display: table !important;
        width: 100vw !important;
        min-width: 100vw !important;
        }
        u + .body table {
        display: table !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body td {
        display: block !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body img {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        vertical-align: bottom !important;
        }
        u + .body center {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        min-width: 100% !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table,
        u + .body table._ac_social_table td,
        u + .body table._ac_social_table div,
        u + .body table._ac_social_table a {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        min-width: auto !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table img {
        display: inline-block !important;
        margin: auto !important;
        width: 32px !important;
        min-width: 32px !important;
        max-width: 32px !important;
        }
        }
        @media only screen and (max-width: 414px) {
        #layout-row563 img {
        width: 100% !important;
        height: auto !important;
        max-width: 78px !important;
        }
        #layout-row566 img {
        width: 100% !important;
        height: auto !important;
        max-width: 180px !important;
        }
        #layout-row571 img {
        width: 100% !important;
        height: auto !important;
        max-width: 414px !important;
        }
        .td_rss .rss-item img.iphone_large_image {
        width: auto !important;
        }
        u + .body {
        display: table !important;
        width: 100vw !important;
        min-width: 100vw !important;
        }
        u + .body table {
        display: table !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body td {
        display: block !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body img {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        vertical-align: bottom !important;
        }
        u + .body center {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        min-width: 100% !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table,
        u + .body table._ac_social_table td,
        u + .body table._ac_social_table div,
        u + .body table._ac_social_table a {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        min-width: auto !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table img {
        display: inline-block !important;
        margin: auto !important;
        width: 32px !important;
        min-width: 32px !important;
        max-width: 32px !important;
        }
        }
        @media only screen and (max-width: 667px) {
        #layout-row563 img {
        width: 100% !important;
        height: auto !important;
        max-width: 78px !important;
        }
        #layout-row566 img {
        width: 100% !important;
        height: auto !important;
        max-width: 180px !important;
        }
        #layout-row571 img {
        width: 100% !important;
        height: auto !important;
        max-width: 600px !important;
        }
        .td_rss .rss-item img.iphone_large_image {
        width: auto !important;
        }
        u + .body {
        display: table !important;
        width: 100vw !important;
        min-width: 100vw !important;
        }
        u + .body table {
        display: table !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body td {
        display: block !important;
        width: 100% !important;
        min-width: 100% !important;
        }
        u + .body img {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        vertical-align: bottom !important;
        }
        u + .body center {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        min-width: 100% !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table,
        u + .body table._ac_social_table td,
        u + .body table._ac_social_table div,
        u + .body table._ac_social_table a {
        display: inline-block !important;
        margin: auto !important;
        width: auto !important;
        min-width: auto !important;
        text-align: center !important;
        }
        u + .body table._ac_social_table img {
        display: inline-block !important;
        margin: auto !important;
        width: 32px !important;
        min-width: 32px !important;
        max-width: 32px !important;
        }
        }
      .divbody(style='margin: 0px; outline: none; padding: 0px; color: #000000; font-family: arial; line-height: 1.1; width: 100%; background-color: #ffffff; background: #ffffff; text-align: center;')
        table.template-table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='font-size: 13px; min-width: auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; background: #ffffff;')
          tbody
            tr
              td(align='center', valign='top', width='100%')
                table.template-table(border='0', cellpadding='0', cellspacing='0', width='600', bgcolor='#ffffff', style='font-size: 13px; min-width: auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 600px;')
                  tbody
                    tr
                      td#layout_table_42230c0c9fa6b16e84fa925ffabaa19720c5b7b0(valign='top', align='center', width='600', style='background-color: #3c5060;')
                        table.layout.layout-table.root-table(cellpadding='0', cellspacing='0', border='0', width='600', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #3c5060;')
                          tbody
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin566(valign='top', style='padding: 30px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row566.layout.layout-row.widget._widget_picture.style566(align='center')
                                      td#layout-row-padding566(valign='top', style='padding: 0;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td.image-td(align='center', valign='top', width='540')
                                                img(src='https://grupocreex96876.img-us10.com/public//c415f6c41f5c452b1c8f8f90cc220c68.png?r=1764013860', alt='', width='180', style='display: block; border: none; outline: none; width: 180px; opacity: 1; max-width: 100%;')
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin570(valign='top', style='padding: 0px 15px 0px 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row570.layout.layout-row.widget._widget_html.style570
                                      td#layout-row-padding570(valign='top', style='padding: 0px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td#html_div499(width='570', align='left')
                                                center(style='margin: 0; outline: none; padding: 0;')
                                                  a(href='#', style='margin: 0; outline: none; padding: 0; color: #19b49b;')
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin562(valign='top', style='padding: 0px 15px 0px 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row562.layout.layout-row.widget._widget_text.style562(style='margin: 0; padding: 0; background-color: #ffffff;')
                                      td#layout-row-padding562(valign='top', style='background-color: #ffffff; padding: 30px 30px 10px 30px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td#text_div491.td_text.td_block(valign='top', align='left', style='line-height: 150%; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.5; text-decoration: inherit; font-family: Arial; mso-line-height-rule: exactly;')
                                                div(style='line-height: 150%; margin: 0; outline: none; padding: 0; mso-line-height-rule: exactly; line-height: 1.5;', data-line-height='1.5')
                                                  p(style='margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                  div(style='margin: 0; outline: none; padding: 0; font-size: 24px; color: #3c5060; font-family: arial, helvetica, sans; display: inline;')
                                                  p(style='margin: 0; outline: none; padding: 0; color: inherit; font-size: 24px; font-weight: inherit; line-height: inherit; text-decoration: none; font-style: normal;')
                                                    span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: none; font-family: arial, helvetica, sans; text-align: inherit;')
                                                      | Nuestra Pasarela ha 
                                                      span(style='color: #19b49b; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                        span(style='color: inherit; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit;')  rechazado 
                                                        |  el pago automático
                                                //
                                                  if (gte mso 12)&(lte mso 15)
                                                  style(data-ac-keep='true', data-ac-inline='false').
                                                  #text_div491, #text_div491 div { line-height: 150% !important; };
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin567(valign='top', style='padding: 0px 15px 0px 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row567.layout.layout-row.widget._widget_text.style567(style='margin: 0; padding: 0; background-color: #ffffff;')
                                      td#layout-row-padding567(valign='top', style='background-color: #ffffff; padding: 10px 30px 10px 30px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td#text_div496.td_text.td_block(valign='top', align='left', style='line-height: 150%; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.5; text-decoration: inherit; font-family: Arial; mso-line-height-rule: exactly;')
                                                div(style='line-height: 150%; margin: 0; outline: none; padding: 0; mso-line-height-rule: exactly; line-height: 1.5;', data-line-height='1.5')
                                                  p(style='margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                  div(style='margin: 0; outline: none; padding: 0; font-size: 16px; color: #3c5060; font-family: arial, helvetica, sans; display: inline;')
                                                  p(style='margin: 0; outline: none; padding: 0; color: inherit; font-size: 16px; font-weight: inherit; line-height: inherit; text-decoration: none; font-style: normal;')
                                                    span(style='color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: arial, helvetica, sans; text-align: inherit;')
                                                      span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') El  #{date}, tu entidad financiera 
                                                      span(style='color: #19b49b; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit;')  rechazó 
                                                      span(style='color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: arial, helvetica, sans; text-align: inherit;')
                                                        span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                          | un pago realizado a través de tu 
                                                          span(style='color: #19b49b; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit;') método de pago ( #{gatewayName} *****#{lastNumbers})
                                                          |   asociado a la cuenta de Grupo Creex del usuario 
                                                          span(style='color: #19b49b; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit;') #{nameUser}
                                                          | .  El motivo que han indicado es el siguiente:
                                                        br
                                                        span(style='color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: arial, helvetica, sans; text-align: inherit;')
                                                          | No nos han comunicado el motivo. Le pedimos por favor que se ponga en contacto con el banco para obtener más información.
                                                        br
                                                        span(style='color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: arial, helvetica, sans; text-align: inherit;')
                                                          | Para evitar que el servicio se interrumpa, ponte en contacto con la entidad financiera para solucionar el problema. Cuando lo hayas hecho, actualiza tu forma de pago principal y abona los saldos pendientes.
                                                //
                                                  if (gte mso 12)&(lte mso 15)
                                                  style(data-ac-keep='true', data-ac-inline='false').
                                                  #text_div496, #text_div496 div { line-height: 150% !important; };
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin568(valign='top', style='padding: 0px 15px 0px 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row568.layout.layout-row.widget._widget_text.style568(style='margin: 0; padding: 0; background-color: #ffffff;')
                                      td#layout-row-padding568(valign='top', style='background-color: #ffffff; padding: 10px 30px 10px 30px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td#text_div497.td_text.td_block(valign='top', align='left', style='line-height: 150%; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.5; text-decoration: inherit; font-family: Arial; mso-line-height-rule: exactly;')
                                                div(style='line-height: 150%; margin: 0; outline: none; padding: 0; mso-line-height-rule: exactly; line-height: 1.5;', data-line-height='1.5')
                                                  p(style='margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                  div(style='margin: 0; outline: none; padding: 0; font-size: 16px; color: #3c5060; font-family: arial, helvetica, sans; display: inline;')
                                                  p(style='margin: 0; outline: none; padding: 0; color: inherit; font-size: 16px; font-weight: inherit; line-height: inherit; text-decoration: none; font-style: normal;')
                                                    span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: arial, helvetica, sans; text-align: inherit;')
                                                      | Con actitud, acción y pasión.
                                                      br
                                                      br
                                                      | Atentamente,
                                                //
                                                  if (gte mso 12)&(lte mso 15)
                                                  style(data-ac-keep='true', data-ac-inline='false').
                                                  #text_div497, #text_div497 div { line-height: 150% !important; };
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin563(valign='top', style='padding: 0 15px 0px 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row563.layout.layout-row.widget._widget_picture.style563(align='left', style='background-color: #ffffff;')
                                      td#layout-row-padding563(valign='top', style='background-color: #ffffff; padding: 0px 30px 0px 30px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td.image-td(align='left', valign='top', width='510')
                                                img(src='https://grupocreex96876.img-us10.com/public//9fda5c299f130ada12a0b8762ce7ad45.png?r=1357582361', alt='', width='78', style='display: block; border: none; outline: none; width: 78px; opacity: 1; max-width: 100%;')
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin564(valign='top', style='padding: 0px 15px 0px 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row564.layout.layout-row.widget._widget_text.style564(style='margin: 0; padding: 0; background-color: #ffffff;')
                                      td#layout-row-padding564(valign='top', style='background-color: #ffffff; padding: 10px 30px 30px 30px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td#text_div493.td_text.td_block(valign='top', align='left', style='line-height: 140%; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: Arial; mso-line-height-rule: exactly;')
                                                div(style='line-height: 140%; margin: 0; outline: none; padding: 0; color: #3c5060; font-size: 16px; mso-line-height-rule: exactly; line-height: 1.4;', data-line-height='1.4')
                                                  div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                    div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                      div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                        div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                          div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                            div(style='margin: 0; outline: none; padding: 0; text-align: left; color: #3c5060;')
                                                              span(style='color: #3c5060; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit; font-style: italic;') Juan Ramón Pacahuala
                                                            span(style='color: #3c5060; font-size: 13px; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                              div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                                span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') - CEO y co-fundador del Grupo Creex
                                                              div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                                span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  | - Email: 
                                                                  a(href='/cdn-cgi/l/email-protection#5033353f10372225203f33223535287e333f3d', data-ac-default-color='1', style='margin: 0; outline: none; padding: 0; color: #19b49b; text-decoration: underline;', target='_blank')
                                                                    span(style='color: ; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                      span.__cf_email__(data-cfemail='7013151f30170205001f13021515085e131f1d') [email protected]
                                                              div(style='margin: 0; outline: none; padding: 0; color: #3c5060;')
                                                                span(style='color: #3c5060; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  | - WhatsApp: 
                                                                  a(href='https://wa.me/51923889907', style='margin: 0; outline: none; padding: 0; color: #19b49b; text-decoration: underline; font-family: arial; font-style: normal; font-weight: 400;', target='_blank')
                                                                    span(style='color: #19b49b; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') +51 923 889 907
                                                //
                                                  if (gte mso 12)&(lte mso 15)
                                                  style(data-ac-keep='true', data-ac-inline='false').
                                                  #text_div493, #text_div493 div { line-height: 140% !important; };
                            tr(style='background-color: #3c5060;')
                              td#layout-row-margin565(valign='top', style='padding: 0 15px 0 15px; background-color: #3c5060;')
                                table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: initial !important;')
                                  tbody
                                    tr#layout-row565.layout.layout-row.widget._widget_text.style565(style='margin: 0; padding: 0;')
                                      td#layout-row-padding565(valign='top', style='padding: 30px 30px 40px 30px;')
                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-size: 13px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                          tbody
                                            tr
                                              td#text_div494.td_text.td_block(valign='top', align='left', style='line-height: 140%; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: Arial; mso-line-height-rule: exactly;')
                                                div(style='line-height: 140%; margin: 0; outline: none; padding: 0; color: #cccccc; mso-line-height-rule: exactly; line-height: 1.4;', data-line-height='1.4')
                                                  div(style='margin: 0; outline: none; padding: 0; font-size: 9px; color: #cccccc;')
                                                    div(style='margin: 0; outline: none; padding: 0; color: #cccccc;')
                                                      div(style='margin: 0; outline: none; padding: 0; color: #cccccc;')
                                                        div(style='margin: 0; outline: none; padding: 0; color: #cccccc;')
                                                          div(style='margin: 0; outline: none; padding: 0; color: #cccccc;')
                                                            span(style='color: #cccccc; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')  
                                                            div(style='margin: 0; outline: none; padding: 0; color: #ffffff; text-align: left;')
                                                              span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  | Información de la empresa: Grupo Creex SAC 
                                                                  span(style='color: #ffffff; font-size: inherit; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: arial; font-style: normal;') RUC: 20603016204 
                                                                  | Dirección:
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') %SENDER-INFO-SINGLELINE% | Oficina
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  | : +51 1 715 2753 
                                                                  span(style='color: #ffffff; font-size: 10px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: arial; font-style: normal;')  
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') Horario de atención: 
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  | De lunes a viernes desde las 9:00 am hasta las 6:00 pm, y sábados desde las 9:00 am hasta la 1:00 pm.
                                                            div(style='margin: 0; outline: none; padding: 0; color: #ffffff; text-align: left;')
                                                              br(style='color: #ffffff;color: #ffffff;')
                                                            div(style='margin: 0; outline: none; padding: 0; text-align: left; color: #cccccc;')
                                                              div(style='margin: 0; outline: none; padding: 0; display: inline; color: #cccccc;')
                                                                span(style='color: #cccccc; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') Te enviamos este email a 
                                                                  a(href='http://#', data-ac-default-color='1', style='margin: 0; outline: none; padding: 0; color: #19b49b; text-decoration: underline;', target='_blank')
                                                                    span(style='color: ; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')  porque aceptaste nuestras
                                                                a(href='https://grupocreex.com/politicas-de-privacidad', style='margin: 0; outline: none; padding: 0; color: #19b49b; text-decoration: underline;', target='_blank')
                                                                  span(style='color: #19b49b; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') políticas de privacidad
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') . Si no quieres recibir más emails del Grupo Creex en el futuro, puedes
                                                                a(href='%UPDATELINK%', style='margin: 0; outline: none; padding: 0; color: #19b49b; text-decoration: underline;', target='_blank')
                                                                  span(style='color: #19b49b; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') editar tu perfil
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;')
                                                                  span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') o
                                                                a(href='%UNSUBSCRIBELINK%&ALL', style='margin: 0; outline: none; padding: 0; color: #19b49b; text-decoration: underline;', target='_blank')
                                                                  span(style='color: #19b49b; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') darte de baja
                                                                span(style='color: #ffffff; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;') .
                                                              br(style='text-align: inherit; color: #cccccc;')
                                                //
                                                  if (gte mso 12)&(lte mso 15)
                                                  style(data-ac-keep='true', data-ac-inline='false').
                                                  #text_div494, #text_div494 div { line-height: 140% !important; };
    script(type='text/javascript').
      window.NREUM || (NREUM = {});
      NREUM.info = {
      "beacon": "bam.nr-data.net",
      "licenseKey": "d3d5c809d5",
      "applicationID": "257636910",
      "transactionName": "M1JQYEMHVhFXB0AMXAoYZ0ZYSRZIRgxE",
      "queueTime": 0,
      "applicationTime": 97,
      "atts": "HxVTFgsdRR8=",
      "errorBeacon": "bam.nr-data.net",
      "agent": ""
      }
