a(name='m_-3865645276749682609_english')
br
| Hello,
br
br
| You requested to reset the password of your account 
a(href=`${email}`, target='_blank') #{email}
|  on our website 
a(href='https://creex.net', target='_blank', data-saferedirecturl=`localhost:4200/${id}`) https://creex.net
| .
br
br
| To process, click on the following link :
br
a(href=`/reset-password?token=${id}`, target='_blank')
  | /reset-password?token=#{id}
br
br
br
| You maybe will need to copy and paste this link on the address bar of your browser
br
span.HOEnZb
  font(color='#888888')
    br
    a(href='https://creex.net', target='_blank') https://creex.net
    br
